@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;

  --primary: #00203fff;
  --secondary: rgb(255, 255, 255);
  --supporting: #b6ddbe;
}

a {
  text-decoration: none;
}

header {
  padding: 0.2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  filter: drop-shadow(1px 1px 5px black);
}

.logo {
  color: var(--secondary);
  font-size: 2.5rem;
  font-family: 'Leckerli One', cursive;
  text-shadow: 0 0 2px rgb(137, 241, 241);
}

header ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.desktop-nav a {
  color: var(--secondary);
  font-size: 1.1rem;
  transition: all 0.1s ease-in;
}

.desktop-nav a:hover {
  color: var(--supporting);
}

.desktop-nav li::after {
  content: '';
  display: block;
  margin: 0 auto;
  background: #fff;
  height: 1px;
  width: 0%;
  transition: all 0.1s ease-in;
}

.desktop-nav li:hover::after {
  width: 100%;
}

/* Book list */

#ADD {
  display: none;
}

section h1 {
  text-align: center;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 2.5rem;
}

.heading {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date {
  align-self: flex-end;
  margin-right: 10%;
}

.books-wrapper {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  height: 60vh;
  margin: 0 auto;
}

.book {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--supporting);
  box-shadow: 1px 1px 2px black;
}

/* Add New */

.add-books {
  margin: 0 auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-books button {
  align-self: center;
}

.message-prompt {
  align-self: center;
  display: none;
  padding: 0 10px;
  border-radius: 7px;
  box-shadow: 0 0 10px #00000033;
}

.error {
  display: block;
  color: red;
  background: beige;
}

.success {
  display: block;
  color: #03c92e;
  background: beige;
}

/* Contact */

#contact {
  display: none;
}

.contact-me {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contact-me p {
  align-self: center;
}

/* Footer */
footer {
  background: var(--primary);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0.2rem 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  filter: drop-shadow(1px 1px 5px black);
  color: #fff;
}

footer .logo {
  font-size: 1.5rem;
}